* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background: #444B;
    color: #fff;
}

header {
    height: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #314;
    background: linear-gradient(90deg, rgba(169,166,227,0.5) 0%, rgba(242,80,179,0.5) 47%, rgba(104,230,255,0.5) 100%);
}

main {
    padding: 0.3rem;
    padding-top: 0; 
}

h1 {
    background: #736;
    color: #fff;
    font-size: 1.2rem;
    padding: 0.3rem 1rem;
    border-radius: 20px;
}

input,
select {
    display: block;
    margin-left: 0.8rem;
}

.btn {
    color: #fff;
    font-weight: 900;
    border-radius: 5px;
    height: 25px;
    width: 100px;
    display: block;
    transition: background-color 0.6s, border 0.6s;
}

.button_disabled {
    border: 1px solid #500;
    background-color: #633;
}

.button_enabled {
    cursor: pointer;
    border: 1px solid #393;
    background-color: #6D6;
}

.filter_button_container {
    margin-top: 0.4rem;
}

.between_dates {
    margin-top: 1rem;
    padding: 0.4rem 0.8rem;
    background-color: #222;
    border-radius: 10px;
}

.between_dates_header {
    margin-bottom: 0.8rem;
}

.between_dates .options_row{
    flex-direction: column;
}

.date_input_container {
    display: flex;
    margin-bottom: 0.2rem;
}

.date_input_container label {
    width: 48px;
    display: block;
}

.name_container {
    display: flex;
    justify-content: center;
    background-color: #222;
    padding: 0.3rem 0;
    border-radius: 10px;
    text-align: center;
    margin: 1rem 0;
}

.name_and_options {
    margin: 1rem 0;
}

.options_row {
    display: flex;
    justify-content: space-between;
}

.show_exact,
.sort_by {
    display: flex;
    align-items: center;
    background-color: #222;
    border-radius: 10px;
    padding: 0.3rem 0.8rem;
}

.show_exact input {
    height: 19px;
    width: 19px;
}

.list_titles,
.list_items {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
}

.list_titles {
    background-color: #333;
}

.list_items:nth-child(odd) {
    background-color: #412;
}

.list_items:nth-child(even) {
    background-color: #214;
}

.list_title {
    font-size: 7px;
}

.list_item {
    font-size: 11px;
}

.list_title,
.list_item {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.list_items:hover {
    background-color: #8dd;
    color: #000;
    font-weight: 900;
}

.list_item:hover {
    color: #fff;
    background-color: #166;
}

@media (min-width: 596px){
    h1 {
        font-size: 1.5rem;
    }
}

@media (min-width: 768px){
    main {
        padding: 2rem;
    }

    h1 {
        font-size: 2rem;
    }

    .name_and_options {
        display: flex;
        justify-content: space-between;
    }

    .show_exact {
        margin-right: 1rem;
    }
    
    .name_and_options {
        margin: 1rem 0;
    }

    .name_and_show_exact_with_sort_by {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .list_title,
    .list_item {
        font-size: 16px;
    }
}