<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Loading...</title>
</head>
<body>
    <header>
        <h1>Find Your Best Matches Birth Dates &lt;3</h1>
    </header>
    <main>
        <div class="name_and_options">
            <div class="name_and_show_exact_with_sort_by">
                <div class="name_container">
                    <h2 id="nameOfPerson">Loading...</h2>
                </div>
                <div class="options_row">
                    <div class="show_exact">
                        <label for="showExact">Show Exact: </label>
                        <input type="checkbox" name="showExact" id="showExact">
                    </div>
                    <div class="sort_by">
                        <label for="sortBy">Sort By: </label>
                        <select name="sortBy" id="sortBy">
                            <option value="date">Date</option>
                            <option value="easy">Easy</option>
                            <option value="conflict">Conflict</option>
                            <option value="combination">Combination</option>
                            <option value="loving">Loving</option>
                            <option value="key">Key</option>
                            <option value="passion">Passion</option>
                            <option value="emotional_pain">Emotional Pain</option>
                            <option value="lovely_three">Loving + Passion + Key</option>
                            <option value="hately_duo">Em.Pain + Conflict</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="between_dates">
                <h3 class="between_dates_header">Specify Date:</h3>
                <div class="options_row">
                    <div class="date_input_container">
                        <label>From: </label>
                        <input type="number" min="1" max="31" name="fromDay" id="fromDay" value="1">
                        <input type="number" min="1" max="12" name="fromMonth" id="fromMonth" value="1">
                        <input type="number" min="1900" max="2100" name="fromYear" id="fromYear" value="1900">
                    </div>
                    <div class="date_input_container">
                        <label>To: </label>
                        <input type="number" min="1" max="31" name="toDay" id="toDay" value="31">
                        <input type="number" min="1" max="12" name="toMonth" id="toMonth" value="12">
                        <input type="number" min="1900" max="2100" name="toYear" id="toYear" value="2100">
                    </div>
                </div>
            </div>
        </div>
        <div id="content">
            <div class="list">
                <div class="list_titles">
                    <div class="list_title">Day</div>
                    <div class="list_title">Month</div>
                    <div class="list_title">Year</div>
                    <div class="list_title">Love😍</div>
                    <div class="list_title">Key🔑</div>
                    <div class="list_title">Passion💘</div>
                    <div class="list_title">Em. Pain😢</div>
                    <div class="list_title">Easy😄</div>
                    <div class="list_title">Conflict🤬</div>
                    <div class="list_title">Comb...😄🤬</div>
                </div>
                <div id="list">
                    Loading...
                </div>
            </div>
        </div>
    </main>
    <script>
        let person = '<%- person %>'
    </script> 
    <script src="script.js"></script>
</body>
</html>